{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-content">
            <a href="/" class="logo">Tennis Club</a>
            <nav>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <section class="hero" id="inicio">
            <h1>Eche vale, bienvenido al club "la burrita"</h1>
            <img src="https://i.pinimg.com/originals/f7/5d/cd/f75dcdf866a0917e087aa9cafc1a22c2.jpg" alt="tennis" width="500">
            <p>Lista de los Miembros mas destacados de nuestro Club de Tennis:</p>
                
                {% block content %}
                {% endblock %}
        </br></br></br>
            
        </section>

    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Sitio Web. Todos los derechos reservados.</p>
            <p>Diseñado con "vitafer" en la cabeza para ofrecer la mejor experiencia y corregido por el ING. Mateo Balacera</p>
            
        </div>
    </footer>
</body>
</html>